<!DOCTYPE html>
<html>
<head>
    <style>
    table, th, td { 
        text-align:center;
        border: 1px solid black;    
    }
    th, td { 
        padding : 5px;
    }
    </style>
</head>

<body>
<form action = "{%url 'multiplication:input' %}" method=get>
    Number :
    <input type='text' name=number>
    <input type='submit' value="Enter">
</form>
<br>
<form action = "{%url 'multiplication:stat' %}" method=get>
    <input type='submit' value="Statistics" >
</form>
{% if result %}
    <h1>Multiplication table of {{multipliction_obj.number}}</h1>
    <table >
        <tr>
            <th>Multiplication</th>
            <th>Result</th>
        </tr>
        {% for val in result%}
        <tr>
            <td>{{multipliction_obj.number}} X {{forloop.counter}}</td>
            <td>{{val}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Number times showing result : {{multipliction_obj.count}} time{{ multipliction_obj.count|pluralize }}</p>
{% endif %}
</body>